.btn-1{
   background-color: rgb(152, 152, 201);
   padding: 8px 16px;
   border: none;
    outline: 0;
    display: inline block;
    padding: 8px;
    color: rgb(16, 10, 10);
    cursor: pointer;
    width: 100%;
}



.btnclass{
    display: flex;
    justify-items: center;

}