@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.home,
.SigninPage,
.packages,
.SignUpPage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    font-size: 3rem;
}


.packages{
   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 100px;
    color: #fff;
}
.signup{
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 100px;
    color: #fff;
}